.App {
  text-align: center;  
 
}

Form{
  padding: 10px;
  margin: 40px auto;
}
h2{
  font-size: 3.5em;
  color: green; 

}

.NavLinks{
  justify-content: space-evenly;
  color: red;
}

.form input{
    padding: 8px;
    width: 300px;
    border: none;
    
}

.form{
  background-image: url("https://media.istockphoto.com/photos/healthy-food-healthy-eating-background-fruit-vegetable-berry-eating-picture-id1409236261?b=1&k=20&m=1409236261&s=170667a&w=0&h=5WCpVuWDM9bd6c6ZdLiRHWsfMtzTft-7Hn0fA7-GN9o=");
  background-repeat: no-repeat;
  backface-visibility: visible;
  background-position: contain;
  background-size: 100%;
  color: #fff;
  font-weight: bolder;

}
.Login, label{
  align-items: flex-end;
}
.veggies{
  display: flex;
}
.fruits{
  display: flex;
  
}
.fruits img{
  border-radius: 50%;
}
.veggies img{
  border-radius: 50%;
}

button{
  padding: 5px;
  background-color: #fff;
  color: green;
  font-size: 20px;
  /* width: 15%; */
  border: none;
  border-radius: 3px;
  border: 3px solid green;
  font-weight: bold;
}



